@charset "UTF-8";

@-webkit-keyframes bounceInDown {
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 0; }
}