@charset "UTF-8";

@font-face {
  font-family: "infografik";
  src:url("../fonts/infografik.eot");
  src:url("../fonts/infografik.eot?#iefix") format("embedded-opentype"),
    url("../fonts/infografik.ttf") format("truetype"),
    url("../fonts/infografik.svg#infografik") format("svg"),
    url("../fonts/infografik.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}