@charset "UTF-8";

.is-blurry {
  @include filter(blur(8px));
}
.l-infographic.is-blurry {
  -webkit-transition : -webkit-filter 1500ms;
     -moz-transition : -webkit-filter 1500ms;
}

a:hover {
  text-decoration: underline;
}

body.is-active {
  overflow: auto;

  .l-infographic {
    @include filter(blur(0));
  }
  .l-prepage {
    opacity: 0;
  }
  .onepage-pagination {
    z-index: 5;
  }
}

// Day / Train
.l-daily.active {
  .m-train {
    left: 25%;
  }
  .m-cloud {
    @include scale(1);
  }
  .m-floor__mountains {
    bottom: 100px;
    height: 449px;
    opacity: 1;
  }
  .m-line {
    width: 100%;
  }
}

// Night
.l-nighty.active {
  .l-nighty__sky {
    .m-moon {
      -webkit-animation-name: bounceInDown;
     -webkit-animation-duration: 1s;
      -webkit-animation-delay: 3s;
     -webkit-animation-fill-mode: forwards;
        -moz-animation-name: bounceInDown;
        -moz-animation-duration: 1s;
        -moz-animation-delay: 3s;
        -moz-animation-fill-mode: forwards;
    }
    .m-star {
      @include scale(1);
    }
  }
  .m-house__window {
    opacity: 1;
  }
  .m-tooltip {
    opacity: 1;
  }
  .m-house {
    height: 400px;

    &:nth-child(3) {
      height: 250px;
    }
    &:nth-child(4) {
      height: 320px;
    }
  }
}

.l-room.active {
  .m-television:before {
   -webkit-animation-name: flicker;
   -webkit-animation-duration: 1.5s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-fill-mode: forwards;
      -moz-animation-name: flicker;
      -moz-animation-duration: 1.5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-fill-mode: forwards;
  }
  .m-lamp {
    height: 105px;
  }
  .m-frame {
    @include scale(1);
  }
  .m-couch {
    left: 50%;
    margin-left: -370px;
  }
  .m-table {
    height: 127px;
  }
}

.l-bar.active {
  .m-window {
    .m-smartphone {
      width: 99px;
    }
    .m-bubble {
      width: 251px;
    }
    .m-plant {
      height: 110px;
    }
  }
}

section.l-contact.active {
  opacity: 1;
}