@charset "UTF-8";

.m-button {
  &.is-large {
    padding-left: 2.5em;
    padding-right: 2.5em;

    @include font-size(2.6);
  }
}
.m-button:hover {
  cursor: pointer;

  background-color: darken($green, 6);
}
.m-button--danger:hover {
  background-color: darken($dark-red, 6);
}
.m-button--single-icon {
  &.is-large {
    padding-left: .5em;
    padding-right: .5em;

    @include font-size(4);
    line-height: 0.8;
  }
}