@charset "UTF-8";

section.l-contact {
  opacity: 0;
  padding-top: 250px;

  @include transition(opacity .5s ease-out .75s);
}

.viewing-page-5 {
  .l-banner {
    opacity: 0;

    @include transition(opacity .6s ease-out);
  }
}