@charset "UTF-8";

// Helpers
.l-center {
  text-align: center;
}

.l-constrained {
  max-width: $max-wrapper-width;
  margin: 0 auto;
  padding: 0 $prevent-spacing;
}

// Current-View
.l-viewport {
  overflow: hidden;
}
.l-infographic {
  height: 100%;
}

// Header
.l-banner {
  padding: 1em 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $index-highest;

  background-color: rgba($black, .6);

  color: $white;

  @include transition(opacity .6s ease-out);

  > .l-constrained {
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }

  h1, ul {
    display: inline-block;
    vertical-align: middle;
  }
  ul {
    height: 90px;
    margin: 0;

    li {
      display: inline-block;
      position: relative;

      line-height: 1 !important;

      > div {
        left: 50%;
        position: absolute;
        top: 50%;

        color: $orange;
        @include font-size(2);
        font-weight: bold;

        @include translate(-50%, -50%);
      }
      &.pie-chart--second > div {
        color: #d84735;
      }
    }
  }
}

// Main / Content
.l-main {
  .m-progress-bar {
    left: 0;
    position: absolute;
    top: 10em;
    z-index: $index-highest;
  }
  > section {
    @include box-sizing(border-box);
    padding-bottom: 6em;
    padding-top: 6em;
    position: relative;

    @include transform-style(preserve-3d);
    @include backface-visibility(hidden);
  }
}

// Footer
.l-footer {
  padding-bottom: 1em;
  padding-top: 2em;

  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  > * {
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
  }
}