@charset "UTF-8";

.l-daily {
  height: 800px;
  background: url(../img/grunge.png) repeat $light-blue;

  .m-floor__body {
    border-top: 4px solid $light-gray;
    z-index: $index-higher;
  }
  .m-floor__bush {
    bottom: 120px;
    left: 50%;
    margin-left: 350px;
    position: absolute;
  }
  .m-floor__mountains {
    bottom: -90px;
    left: 0;
    opacity: 0;
    position: absolute;

    @include skew(88deg);
    @include transition(all 2s ease-in .75s);
  }
  .m-train {
    bottom: 108px;
    left: -100%;
    position: absolute;
    z-index: $index-high;

    @include transition(left 2s ease-out 1.25s);
  }
  .m-line {
    bottom: 310px;
    position: absolute;
    width: 0;
    z-index: $index-high;

    @include transition(width 1.5s ease-in 1s);
  }
}
.l-daily__sky {
  position: relative;

  .m-cloud {
    position: absolute;
    left: 100px;

    @include scale(0);
    @include transition(transform 1s ease-in);

    &:nth-child(2) {
      left: auto;
      right: 300px;
      top: 125px;
    }
  }
}