@charset "UTF-8";

.l-documentation {
  h1 {
    @include font-size(3.8);
    text-align: center;
  }
  h3 {
    margin: 2em 0 0;

    + p {
      margin-top: .5em;
    }
  }
  h2 {
    @include font-size(2.4);

    + h3 {
      @extend h3;
      color: #666;
      margin-top: 1em;
    }
  }
  article {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.viewing-page-7 .l-banner {
  display: none;
  opacity: 0 !important;

  @include transition(opacity .6s ease-out);
}