@charset "UTF-8";

.l-nighty {
  height: 730px;

  background-color: $dark-blue;
  background-image: url(../img/nighty.jpg);
  background-repeat: repeat;
}
.l-nighty__sky {
  position: relative;

  .m-moon {
    -webkit-transform: translateY(-2000px);
  }

  .m-star {
    position: absolute;

    @include scale(0);

    &:nth-child(2) {
      left: 300px;
      @include transition(.5s all);
    }
    &:nth-child(3) {
      left: 425px;
      top: 25px;
      @include transition(.5s all .75s);
    }
    &:nth-child(4) {
      left: 600px;
      top: -50px;
      @include transition(.5s all 1.25s);
    }
    &:nth-child(5) {
      right: -100px;
      top: -70px;
      @include transition(.5s all 1.75s);
    }
    &:nth-child(6) {
      right: 175px;
      top: 140px;
      @include transition(.5s all 2.25s);
    }
  }
}