@charset "UTF-8";

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
}

.onepage-wrapper .section {
  min-height: 100%;
  width: 100%;

  -webkit-transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
}

.onepage-pagination {
  position: absolute;
  left: 10px;
  top: 50%;
  z-index: -1;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;

}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background: rgba(0,0,0,0.65);
  border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 15px;
  height: 15px;
  background: rgba(0,0,0,0.85);
  margin-top: -4px;
  left: 8px;
}