.l-prepage {
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 50%;

  text-align: center;

  @include transition(opacity .5s);
  @include translate3d(0,0,0);
  @include translateZ(0);
  @include translateY(-50%);

  * {
    color: $white;
    text-shadow: 0 0 5px rgba(0,0,0,.3);
  }

  h2 {
    @include font-size(7);
  }
  > div {
    margin-top: 3em;

    i {
      margin-left: 50%;
      @include translateZ(0);
      @include translateX(-50%);
    }
  }
}