@charset "UTF-8";

.l-room {
  height: 500px;

  background: url(../img/room.jpg) repeat;

  .m-frame {
    bottom: 210px;
    left: 50%;
    margin-left: 235px;
    position: absolute;
    right: 0;

    @include scale(0);
    @include transition(transform 1s ease-out 2s);
  }
  .m-lamp {
    height: 0;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    top: 0;

    @include transition(.5s ease-out);

    &:nth-child(2) {
      margin-left: 200px;

      @include transition(.5s ease-out .75s);
    }
  }
  .m-television {
    bottom: 200px;
    left: 50%;
    margin-left: -300px;
    position: absolute;

    &:before {
      left: 5px;
      opacity: 0;
      top: 6px;
    }
  }
  .m-table {
    bottom: 50px;
    left: 50%;
    margin-left: 150px;
    position: absolute;
    z-index: $index-high;
  }
  .m-pizza {
    left: 50%;
    margin-left: -60px;
    position: absolute;
    top: -10px;
  }
  .m-floor {
    bottom: 0;
    height: 75px;
    left: 0;
    position: absolute;
    width: 100%;

    border-top: 3px solid $white;

    background-color: darken(#3a2c2c, 6%);
  }
  .m-couch {
    bottom: 1em;
    left: 50%;
    margin-left: -355px;
    position: absolute;
    z-index: $index-high;
  }
}

@-webkit-keyframes bounceInRight {
  0% {
    @include translateX(-100%);
  }
  30% {
    @include translateX(0);
  }
  40% {
    @include translateX(-5%);
  }
  80% {
    @include translateX(0);
  }
}