@charset "UTF-8";

.m-button {
  display: inline-block;
  padding: .4em 1.5em;
  vertical-align: top;

  border: none;

  background: url(../img/grunge.png) repeat $green;

  color: $white;
  @include font-size(1.6);
  font-weight: bold;
  line-height: 2;
  text-decoration: none;
  text-transform: uppercase;

  i {
    margin-right: .25em;
  }
}

.m-button--danger {
  background-color: $dark-red;
}

.m-button--single-icon {
  i {
    margin-right: 0;
  }
}