@charset "UTF-8";

.m-form {
  ol {
    list-style: none;
    padding-left: 0;
  }
  .m-form__input-text,
  .m-form__textarea {
    @include box-sizing(border-box);
    height: 3.15em;
    margin-top: 1em;
    padding: .5em;
    -webkit-appearance: none;
    width: 100%;

    border: 2px solid $blue;

    background-color: transparent;

    color: $blue;
    @include font-size(1.9);

    @include placeholder {
      color: $blue
    }
  }
  .m-form__textarea {
    height: 138px;
    resize: none;
  }
}