@charset "UTF-8";

.m-form {
  ol {
    list-style: none;
    padding-left: 0;
  }
  .m-form__input-text,
  .m-form__textarea {
    @include box-sizing(border-box);
    height: 3.15em;
    margin-top: 1em;
    padding: .5em;
    -webkit-appearance: none;
    width: 100%;

    border: 2px solid $blue;

    background-color: $white;

    color: $blue;
    font-family: $base-font;
    @include font-size(2.1);

    @include placeholder {
      color: $blue
    }
    &.error {
      border-color: $light-red;

      @include placeholder {
        color: $light-red;
      }
      + label {
        display: block;
        padding: .2em .5em;

        background-color: $light-red;

        color: $white;
        font-weight: bold;
      }
    }
  }
  .m-form__textarea {
    display: block;
    height: 154px;
    resize: none;

    &.error {
      height: 180px;
    }
  }
}