@charset "UTF-8";

.m-list {
  list-style: none;
  margin: 1em 0 0;
  padding-left: 0;
}
.m-list--horizontally {
  margin-left: -10px;

  > li {
    display: inline-block;
    margin-left: 10px;
    margin-right: -4px;

    i {
      @include font-size(4);
    }
  }
}