@charset "UTF-8";

.m-pagination {
  display: inline-block;
  left: 50%;
  list-style: none;
  margin-top: 1em;
  padding-left: 0;
  position: relative;

  @include translateX(-50%);

  &:first-child {
    margin-top: 0;
  }
  li {
    display: inline-block;
    margin-left: 1em;
    margin-right: -4px;

    &:first-child {
      margin-left: 0;
    }
    a {
      display: block;
      padding: 0.75em 1em;

      border: 1px solid #ccc;
      background-color: #fff;
    }
  }
}