@charset "UTF-8";

.m-tooltip {
  left: 50%;
  position: absolute;
  top: 24em;
  z-index: $index-highest;
}
.m-tooltip--top .m-tooltip__content {
  top: -1em;

  @include translateZ(0);
  @include translateY(-100%);
}
.m-tooltip__trigger {
  display: block;
  height: 2em;
  opacity: .5;
  width: 2em;

  background-color: rgba($white, .5);

  border: 3px solid $white;
  border-radius: 50%;

  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
}
.m-tooltip__content {
  @include box-sizing(border-box);
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  padding: 1em;
  position: absolute;
  pointer-events: none;
  top: 3em;
  width: 540px;

  background-color: $white;
  @include box-shadow(0 0 5px rgba(0,0,0,.3));

  border-radius: 3px;

  color: $gray;

  @include transition(all .5s ease-out .25s);
  @include translate3d(0,0,0);

  p {
    margin-top: 0;
  }
}